---

import Image from "astro/components/Image.astro";
import img from "@assets/images/Breaks&Ads/AdsImage.png"
---

<section class="AE_break section-1">
<div class="container">
  <a href="#!" class="round-4">
    <Image src={img} alt="adsImage" quality={70} format="webp" class={'round-8 '} />
  </a>
</div>
</section>
