---
import { Image } from "astro:assets"
interface Props {
    img:string | any
}
const {img} = Astro.props
---
<div class="uploadImg mb-8 relative">
    <Image src={img} alt="userPhoto" id={`userPhoto`} quality={70} />
    <label for="uploadUserPhoto" class="absolute"></label>
    <input type="file" name="uploadUserPhoto" id="uploadUserPhoto" class="d-none" >
</div>