---
import Button from "../global/Button.astro";
interface Props {
  isRow?: boolean;
}
const { isRow = false } = Astro.props;
import { Icon } from "astro-icon/components";
---

{
  isRow ? (
    <div
      class={`quanity d-flex items-center mx-auto Row `}>
      <Button type="button" aria={`plus`} ClassName="btn btn-quanity plus">
        <Icon name={`plus`} size={`24`} />
      </Button>

      <input type="text" class="text-center" value="1" disabled />
      <Button type="button" aria={`mins`} ClassName="btn btn-quanity mins">
        <Icon name={`mins`} size={`24`} />
      </Button>
    </div>
  ) : (
    <div class="quanity d-flex items-center mx-auto Colum  border-1 border-solid round-2">
      <div class="d-flex items-center QuanityButtons">
        <Button type="button" aria={`plus`} ClassName="btn btn-quanity plus  round-tr-2">
          +
        </Button>
        <Button type="button" aria={`mins`} ClassName="btn btn-quanity mins round-br-2">
          -
        </Button>
      </div>
      <input type="text" class="text-center round-l-2 border-0" value="1" disabled />
    </div>
  )
}
