@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.berakBox{
   .imgBreak{
    height: 232px;
    img{
        transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    }
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
   }
    .breakDetails{
        @extend %centerY;
        // left: 15px;
        .cateName{
            color: var(--hover-1);
            font-size: clamp(14px ,1vw + .6rem , 18px);
        }
        .proName{
            font-size: clamp(18px , 1vw  + .9rem  , 30px);
        }
    }
    .buttonPrice{
        a{
            padding-block: clamp(8px , 1.1vw,12px);
            padding-inline: clamp(12px , 1.5vw,16px);
        }
        svg{
            width: 20px;
        }
    }
    @media(max-width:991px){
        flex-wrap: wrap;
    }
   
}
