---
import { Icon } from "astro-icon/components";
import FormGroup from "../ui/global/FormGroup.astro";
---

<div class="Newsletter d-flex items-center justify-between">
  <div class="box d-flex items-center gap-6">
    <!-- icons -->
    <div class="box-icons">
      <Icon name={`sendEmail`} />
    </div>
    <div class="box-text">
      <h4 class="fw-700  mb-1">الاشتراك في النشرة الإخبارية</h4>
      <p class="line-relaxed fs-14 o-80">لن نشارك عنوان بريدك الإلكتروني أبدًا مع طرف ثالث.</p>
    </div>
  </div>
  <div class="box">
    <form action="#!">
      <FormGroup
        type="email"
        place="ادخل بريدك الالكتروني"
        FormClassName="relative"
        isLabel={false}
        isDisabled={false}
        name="NewsletterEmail"
        IsButton={{aria:'',Title:'ارسل',ClassName:'btnSendEmail  px-10 absolute left-0'}}
    
      
        
      />
    </form>
  </div>
</div>
