---
import SelectForm from "@components/ui/global/SelectForm.astro";
import Button from "@components/ui/global/Button.astro";
import Link from "@components/ui/global/Link.astro";
import QuantiyBtn from "@components/ui/Private/QuanityBtn.astro";
interface Props {
  id?:string,
}
const {id} =Astro.props
---
<div class="cardDetails">
    <!-- title -->
    <h3 class=" pt-9">جبيرة قدم هوائية قصيرة</h3>
    <!-- price -->
    <div class="price  py-9	">
        <span class=" fw-700 fs-28">300</span>
        <small>ر.س</small>
        <del class="pr-4 fs-24  o-70">600</del>
        <small class="smallDel o-70">ر.س</small>
      </div>
      <!-- des -->
      <p class="des line-big fs-16 fw-400 o-90">
        أومرون جهاز قياس ضغط الدم M3 هو جهاز قياس ضغط الدم الأوتوماتيكي من أعلى الذراع من شركة أومرون، وهي ش 
      </p>
    
    <!-- num model -->
      <ul class="d-flex items-center py-9">
        <li class="name">رقم الموديل:</li>
        <li class="value">SOUK4JK74</li>
      </ul>
      <!-- qunity -->
      <ul class="d-flex items-center">
        <li class="name">الكمية:</li>
        <li>
          <QuantiyBtn/>
        </li>
      </ul>
    <!-- size -->
    <SelectForm title="اختر مقاسك:" id={id} ClassName="mt-9">
        <option value="0">اختر</option>
        <option value="1">S</option>
        <option value="0">M</option>
        <option value="0">L</option>
        <option value="0">XL</option>
    </SelectForm>
    <div class="buttons d-flex items-center gap-5 mt-14">
        <Button type="button" ClassName="btn-run relative round-3" aria={`اطلب الان`}>
            <Link href="Payment.html" Class="relative d-flex items-center justify-center" aria="اطلب الان" text="اطلب الان" />
        </Button>
        <Button type="button" ClassName="btn-runBorder relative round-3" aria={`اضف للسلة`}>
            <Link href="#!" Class="relative d-flex items-center justify-center" aria="اضف للسلة" text="اضف للسلة" />
        </Button>
    </div>
</div>