@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
.navTop{
    .socialMedia{
        opacity: .8;
        .btn-runBorder{
            border-color: transparent;
            &:hover{
                border-color: transparent;
            }
        }
        svg{
            width: 20px;
            color: $subtitle;
        }
    }
    
}