@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
.navTop{
    .socialMedia{
        
        .btn-runBorder{
            border-color: transparent;
            &:hover{
                border-color: transparent;
            }
        }
        svg{
            width: 20px;
            color: var(--subtitle);
        }
    }
    
}