---
import { Icon } from "astro-icon/components";
import BlogCard from "./BlogCard.astro";
import Button from "@components/ui/global/Button.astro";

---
<section class="blog-1 section-1 ">
    <div class="container">
        <div class="d-grid gap-5">
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
            <BlogCard/>
            
        </div>
        <Button
          type="button"
          aria={`loadMore`}
          ClassName="btnMore d-flex items-center justify-center mx-auto mt-10  ">
          <Icon name={"loader"} size={`28`} />
        </Button>
    </div>
</section>