---
import SideBlog from "./SideBlog.astro";
import DetailsSection from "./DetailsSection.astro"
---
<section class="detailsBlog-1 section-1 relative">
    <div class="container">
        <div class="d-grid gap-14">
            <!-- side bar blog  -->
             <SideBlog/>
             <!-- blog section -->
              <DetailsSection/>
        </div>
    </div>
</section>