---

---

<div class=" notification mb-6 p-7 round-7 ">
  <!-- notfiy name -->
  <h3 >ุงุณู ุงูุงุดุนุงุฑ</h3>
  <!-- subject -->
  <p class="my-5 line-normal ">
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
  </p>
  <!-- time -->
   <small class="fs-14 o-80 ">18-9-2024 10:45pm</small>
</div>
<div class=" notification mb-6 p-7 round-7 ">
  <!-- notfiy name -->
  <h3 >ุงุณู ุงูุงุดุนุงุฑ</h3>
  <!-- subject -->
  <p class="my-5 line-normal">
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
  </p>
  <!-- time -->
   <small class="fs-14 o-80 ">18-9-2024 10:45pm</small>
</div>
<div class=" notification mb-6 p-7 round-7 ">
  <!-- notfiy name -->
  <h3 >ุงุณู ุงูุงุดุนุงุฑ</h3>
  <!-- subject -->
  <p class="my-5 line-normal">
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
    ุตุจุงุญ ุงูุฎูุฑ ุชุนุชุฐุฑ ุฅุฏุงุฑุฉ ูููุน Jadwal ุนู ุญุฏูุซ ุฎูู ูู ุณูุฑูุฑ ุงููููุน ููุฑุฌู ููู
    ูุฑุงุนุงุฉ ุฐุงูู ูุดูุฑุง ูู ๐น
  </p>
  <!-- time -->
   <small class="fs-14 o-80 ">18-9-2024 10:45pm</small>
</div>
