@use "../helpers/color" as *;
@use "../helpers/extend" as *;
@use "../helpers/mixin" as *;
@use "../components/Account/accountSide";
@use "../components/Account/editAccount";
@use "../components/Account/order";
@use "../components/Account/notification";

.AccountLayOut-1{
    grid-template-columns: 350px 1fr;
    @media(max-width:991px){
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}