@use "../helpers/color" as *;
@use "../helpers/extend" as *;
@use "../helpers/mixin" as *;
.cart-1{
    .cartBox {
        // margin-bottom: 5px;
        @include cartBox(large);

        

        .delete {
            width: 75px;
            height: 55px;
            
            svg {
                width: 32px;
                margin-inline-end: 12px;
            }   
            @media(max-width:580px){
                width: 55px;
                height: 40px;
                svg{
                    width: 24px;
                    margin-inline-end: 8px;
                }
            }
        }
    }
    .actions{
        width: min(100% , 900px );
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: 50px;
        gap: 5px;
        
        margin-top: 10px;
        .btn-run , .btn-runBorder{
            a{
                width: 100%;
                height: 100%;
            }
            &::before{
                border-radius: 4px;
                
            }
        }
        @media(max-width:480px){
            grid-template-columns:1fr;
            grid-template-rows: repeat(2 , 40px);
        }
        
    }
}
// html[lang="en"]{
//     .cart-1{
//         .cartBox{
           
//         }
//     }
// }