---
import { Icon } from "astro-icon/components";
import Button from "../global/Button.astro";
interface Props {
  IsStatus?: boolean;
}
const { IsStatus = false } = Astro.props;
---

<div class="cardButtons absolute right-5">

  {
    IsStatus ? (
      <Button
        type="button"
        aria={`quickView`}
        ClassName="d-flex items-center iconButton BtnDelete px-5	 py-4	 round-3  relative overflow-hidden o-0 top-50">
        <Icon name={`delete`} size={`30`} class={`relative`} />
        <span class="absolute round-l-3 d-flex items-center justify-center fs-14 px-3 o-0">
            حذف
        </span>
      </Button>
    ) :
    (
    <Button
    type="button"
    aria={`addToCart`}
    ClassName="d-flex items-center iconButton px-5	 py-4 round-3  relative overflow-hidden mb-1 o-0"
  >
    <Icon name={`cart2`} size={`30`} class={`relative`} />
    <span
      class="absolute round-l-3  d-flex items-center justify-center fs-14 px-3 o-0"
      >اضف للسلة</span>
  </Button>
  <Button
    type="button"
    aria={`quickView`}
    ClassName="d-flex items-center iconButton px-5	quickView  py-4	 round-3  relative overflow-hidden o-0"
  >
    <Icon name={`search`} size={`30`} class={`relative`} />
    <span
      class="absolute round-l-3 d-flex items-center justify-center fs-14 px-3 o-0"
      >نظرة سريعة</span>
  </Button>
    )
  }
</div>
