---
import Button from "../global/Button.astro";
import { Icon } from "astro-icon/components";
---

<Button
  type="button"
  ClassName="btn delete absolute top-0 left-0"
  aria={`delete product`}
>
  <Icon name="delete" class={`ml-3`} />
</Button>
