---
import Button from "../global/Button.astro";
import { Icon } from "astro-icon/components";
import ImageGallery from "./ImageGallery.astro";
import ProDetail from "@components/product/ProDetail.astro";
---

<div class="Model d-none" id="quickyViewModel">
  <Button
    ClassName="CloseViewModel"
    type="button"
    aria={`closeOrderModel`}
    ariaEx={`false`}
    controll={`ModelMyOrder`}
    id="CloseViewModel"
  >
    <Icon name={`close`} size={`36`} />
  </Button>
  <div class="quickyViewModel relative">
    <div class="showModel d-grid" data-id="1">
        <ImageGallery imgClass="ModelImgGallery" id="ModelImgGallery"/>
        <ProDetail id="sizeProModel"/>
    </div>
  </div>
</div>
