@use "../helpers/color" as *;
@use "../helpers/extend" as *;
@use "../helpers/mixin" as *;

.section-1 {
    margin-top: 6vh;
}

.about-1 {


    &:has(.container .knowMe-1) {
        background-color: $BG;
        padding: 50px 0 80px 0;
        position: relative;
        z-index: -1;
    }

    .mainHeading {
        border-bottom: none;
        text-align: center;
        padding-bottom: 2vh;
    }

    .knowMe {
        
      

        .leftSide {
            border-radius: 50% 50% 0% 100% / 100% 100% 0% 0%;

            img {
                border-radius: 50% 50% 0% 100% / 100% 100% 0% 0%;
                box-shadow: 0px 15px 1.25rem #53535342;
            }
        }
    }
    .knowMe-1 , .knowMe{
        margin-bottom: 15px;
        grid-template-columns: 1fr 1.3fr;

        @media(max-width:991px) {
            grid-template-columns: 1fr;

            .rightSide {
                padding-top: 20px;
            }
        }
    }
    .knowMe-1 {
        // grid-template-columns: 1fr 1.3fr;
        background-color: $w;
        padding: 15px;
        border-radius: 30px;
        box-shadow: rgba(137, 137, 137, 0.26) 0px 0px 20px 8px;
        position: relative;

        

        &::before {
            content: "";
            position: absolute;
            background-color: $hover;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            top: 30px;
            left: -30px;
            z-index: -1;
            max-width: 100%;
        }

        .leftSide {
            height: 350px;
            width: 470px;
            margin-inline: auto;
            border-bottom-left-radius: 40px;
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
        }

        img {
            border-bottom-left-radius: 40px;
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
            box-shadow: -17px 20px 20px 0px rgba(0, 0, 0, 0.19);
        }
        @media(max-width:580px){
            &::before{
                display: none;
            }
            .leftSide{
                height: auto;
                width: auto;
            }
        }
    }
}