@use "../helpers/color" as *;
@use "../helpers/extend" as *;
@use "../helpers/mixin" as *;
.auth-1{
    h3{
        font-size: clamp(20px , 1vw  + 1.1rem ,28px);
    }
   
    form{
        width: 600px;
        max-width: 100%;
        // background-color: red;
        padding-inline: 20px;
        padding-block: 25px;
        svg{
            width: 28px;
        }
        .formGroup{
        flex-direction: column;
            width: 100%;
            input ,select {
                @include input(56px, 100%,transparent);
                background-color: $BG;
                font-size: 14px;
            }
            .IsPassword{
                svg{
                    position: absolute;
                    left: 15px;
                    top: 0;
                    width: 30px;
                    cursor: pointer;
                    opacity: .8;
                }
                
            }
            .errorMassageInput {
                color: $error-text;
                font-size: 12px;
                font-weight: 400;
                padding-inline: 8px;
                padding-top: 2px;
            }
        }
        .btn-runBorder , .btn-run{
            width: 99%;
            // padding-block: clamp();
            span{
                font-size: clamp(14px ,1vw + .6rem , 18px);
                padding-block: clamp(6px ,1vw + .6rem ,16px);
            }
        }
        .btn-runBorder {
            
            &::before{
                opacity: .8;
            }
           
        }
        .authWith{
            .break{
                width: 100%;
                height: 1px;
                background-color: $border-color;
                p{
                    @include centerPosition;
                    background-color: $w;
                    padding-inline: 8px;
                    white-space: nowrap;
                    font-size: clamp(13px ,1vw + .5rem , 16px)
                }
            }
        }
        a{
            color: $hover;
            &:hover{
                color: $hover-1;
            }
        }
        .errorForm {
            input {
                border-color: $error-text;

                &:focus {
                    border-color: $error-text;
                }
            }
        }
        .uploadImg {
            width: 100%;
            height: 250px;
            border: 3px dashed #e2e2e2;
            background-color: rgba($color: $BG, $alpha: .2);
            padding: 5px;
            margin-inline: auto;
            max-width: 100%;
            transition: $t-s;
            @media (max-width:480px) {
                width: 100%;
                height: 100%;
            }

            

            img {

                object-fit: contain;

            }

            label {
                inset: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            &:hover {
                border-color: $hover;
            }

        }
    }
}