@use "../helpers/color" as *;
@use "../components/product/product";
@use "../components/Hero/hero";
@use "../components/service/service";
@use "../components/Cate/cate";
@use "../components/Breaks&Ads/Break";
.swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
 

      position: relative;
     
    }
  }
  .section-1 {
    margin-top: 6vh;
  }
 



