// background-color
$black: #00060b;
$BG: #f0f0f0;
$BG2:#ebf1ff;
$BG3:rgb(236, 250, 236);
$w: #fff;
// hover
$hover: #2E8B57 ;
$hover-1: #3CB371;

// color
$subtitle: #535353;
$dec: #495057;
$title: #222;
$border-color: #dcdcdc;
// shadows
$light-shadow:  #498fdf80;
// error and success
$error: rgb(169, 50, 50);
$success: rgb(50, 169, 50);
$error-text: rgb(243, 46, 46);
// TRANSLATION
$t-l: 500ms ease-in-out;
$t-s: 250ms ease-in-out;
// font size responsive 
//  font-size: clamp(18px , 1vw + 1.1rem ,28px);
// font-size: clamp(20px , 1vw  + 1.1rem ,28px);
// font-size: clamp(14px ,1vw + .6rem , 18px);
// font-size: clamp(18px , 1vw  + .9rem  , 30px);
//font-size: clamp(16px ,1vw + .6rem , 18px);