@use './color' as*;
@use './mixin' as *;

%responsive-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    // text-overflow: ellipsis;
}



%grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

%centerPosition {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%grid-system {
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    justify-content: center;
    gap: 20px 10px;
}

%visible {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
}

%AE_Scrolling {
    opacity: 0;
}

%label-focus {
    top: -10px;
    background-color: #fff;
    transform: scale(.9);
    color: $hover-1;
}

%btn-skew-border {
    &.btn-skew {
        background-color: transparent;
        border: 1px solid $hover-1;
        color: $hover-1;

        a {
            color: $hover-1;
            transition: $t-s;
        }

        &:hover {
            color: #ffffff;
            a {
                color: #ffffff;
            }

            
        }


    }
}

// 
%inputAuth {
    @include input(40px, 100%, #9f9f9f61);

}

%Hide {
    opacity: 0;
    transform: translateY(-100%);
    filter: blur(2px);
}

%Show {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
}

%section {
    min-height: 100dvh;
    padding-bottom: 5vh;
}

// scooter
%pseudoElX {
    content: '';
    position: absolute;
    transition: $t-s;
}

%centerY {
    top: 50%;
    transform: translateY(-50%);
}

%centerX {
    left: 50%;
    transform: translateX(-50%);
}
// e-commerce
%col-5{
    @include gridCol(280px , auto);
    gap: 10px;
    @media(max-width:600px){
        @include gridCol(200px , 1fr);
    }
}
%aside{
    position: fixed;
    bottom: 0;
    inset: 0;
    overflow-y: scroll;
    background-color: $w;
    z-index: 99999;
    max-width: 100%;
    transition: $t-l;
    transform: translateX(250px) scale(.8);
    opacity: 0;

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-button {
        height: 2px;
    }

    &:is(:hover, :focus-within) {


        &::-webkit-scrollbar-thumb {
            background-color: $hover;
        }


    }
    

    &.open {
        transform: translateX(0) scale(1);
        opacity: 1;

    }
}
%closeAside {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 25px;
    aspect-ratio: 1;
    background-color: $hover;
    border-radius: 50%;
    transition: $t-s;

    &:hover {
        background-color: $hover-1;
        box-shadow: 0 0 9px #2f2f2f6b;
    }

    svg {
        width: 20px;
        margin: 0 auto;
        color: $w;
    }
}