---
import { Image } from "astro:assets";
import img1 from "@assets/images/hero/hero1.png";
import img2 from "@assets/images/hero/hero2.jpg";
import Button from "@components/ui/global/Button.astro";
import Link from "@components/ui/global/Link.astro";
---

<section class="hero-1">
  <!-- Swiper -->
  <div class="swiper heroSwiper">
    <div class="swiper-wrapper">
      <!-- slide 1 -->
      <div class="swiper-slide">
        <Image
          src={img1}
          alt={`slider image 1`}
          format="webp"
          quality={70}
          class={`img-cover`}
        />
        <div class="sliderBox absolute top-50">
          <h1 class="fs-r-60 pb-10 line-relaxed o-0"> <span>قناع </span> جراحي وقائي </h1>
          <p class="line-relaxed o-0">
            يمكن للأقنعة الجراحية أن تحمينا من العديد من الجراثيم. يجب على
            الجميع استخدام هذه الأقنعة الجراحية.
          </p>

          <Button
            type="button"
            aria={`product btn `}
            ClassName="mt-14 btn-run relative round-3 o-0 "
          >
            <Link
              href="#!"
              aria="product link"
              Class="relative fs-18  d-flex items-center gap-4"
              text="تسوق الان"
              icon={{ name: "cart2", side: "left" }}
            />
          </Button>
        </div>
      </div>
      <!-- slide 2 -->
      <div class="swiper-slide">
        <Image
          src={img2}
          alt={`slider image 1`}
          format="webp"
          quality={70}
          class={`img-cover`}
        />
        <div class="sliderBox absolute top-50">
          <h1 class="fs-r-60 pb-10 line-relaxed o-0">
            <span class="">قناع</span> جراحي وقائي
          </h1>
          <p class="line-relaxed fs-18 o-0">
            يمكن للأقنعة الجراحية أن تحمينا من العديد من الجراثيم. يجب على
            الجميع استخدام هذه الأقنعة الجراحية.
          </p>
          <Button
            type="button"
            aria={`product btn `}
            ClassName="mt-14 btn-run relative round-3 o-0 "
          >
            <Link
              href="#!"
              aria="product link"
              Class="relative fs-18  py-8 px-14 d-flex items-center gap-4"
              text="تسوق الان"
              icon={{ name: "cart2", side: "left" }}
            />
          </Button>
        </div>
      </div>
      <!-- end slide -->
    </div>
    <div class="swiper-button-next o-0"></div>
    <div class="swiper-button-prev o-0"></div>
  </div>
</section>
