@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.product{
    min-height: 100dvh;
    .product-1{
      @extend %col-4;
       
    }
    &[aria-label="cateName1"]{
        background-color: rgba($color: $BG3, $alpha: 1);
        padding-block: 50px;
    }
}