---
import Link from "./Link.astro";
import type { LinkType } from "../../../types/type";



interface Props {
  data: LinkType[];
  id: string;
  ClassName?:string
}
const { data, id ,ClassName } = Astro.props;
---

<ul class=`dropDownMenu absolute ps-5 round-b-3 overflow-hidden ${ClassName ? ClassName : ''}` id={id} >
  {
    
    data.map((link: LinkType) => (
        
      <li class="pb-7">
        <Link
          href={link.href}
          Class="d-flex items-center gap-3"
          aria={link.text}
          text={link.text}
          Img={{ alt: link.Img?.alt ?? "", side: link.Img?.side ?? "left" }}
          ImageSrc={link.ImageSrc ?? ""}
     
          icon={{name:link.icon?.names , side:link.icon?.side?? "left"}}
        />
      </li>
    ))
  }
</ul>
