---
import NavTop from "./Top/NavTop.astro";
import NavBottom from "./Bottom/NavBottom.astro";
---
<header class="relative">
    <div class="container">
        <NavTop/>
    </div>
    <hr>
    <div class="container">
        <NavBottom/>
    </div>
</header>