---
import Avatar from "@components/ui/global/Avatar.astro";
import Link from "@components/ui/global/Link.astro";
---

<aside class="accountSide">
  <div class="userInfo d-flex items-center gap-8 p-8 mb-9">
    <Avatar />
    <h3 class="userName ">احمد التطاوي</h3>
  </div>
  <ul class="accountList d-flex items-start p-8 gap-8">
    <li class="">
      <Link
        href="MyAccount.html"
        aria="editUser"
        text="تعديل حسابي"
        icon={{ name: "EditUser", ClassIcon: "", side: "left" }}
        Class="navLink d-flex items-center py-6 px-8 gap-4"
      />
    </li>
    <li>
      <Link
        href="Order.html"
        aria="userOrder"
        Class="navLink d-flex items-center py-6 px-8 gap-4"
        text="طلباتي"
        icon={{ name: "order", ClassIcon: "", side: "left" }}
      />
    </li>
    <li>
      <Link
        href="notifications.html"
        aria="notifications"
        Class="navLink d-flex items-center py-6 px-8 gap-4"
        text="الاشعارات "
        icon={{ name: "notifications", ClassIcon: "", side: "left" }}
      />
    </li>
    <li>
      <Link
        href="#!"
        aria="logout"
        Class="navLink d-flex items-center py-6 px-8 gap-4"
        text="تسجيل خروج"
        icon={{ name: "logout", ClassIcon: "logout", side: "left" }}
      />
    </li>
  </ul>
</aside>
