---
import SelectForm from "@components/ui/global/SelectForm.astro";
import Button from "@components/ui/global/Button.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Img from "@assets/images/products/pro-1.webp";
---

<div class="orderFilter mb-10 d-flex items-center justify-between">
  <p class="fs-18">طلباتي</p>
  <SelectForm id="orderFilter" ClassName="SelectFilter">
    <option value="All">الكل</option>
    <option value="new">جديد</option>
    <option value="out">منتهي</option>
    <option value="delivered">تم الشحن</option>
    <option value="paid">تم الدفع</option>
    <option value="declined">declined</option>
  </SelectForm>
</div>
<table id="myOderTable">
  <thead>
    <tr>
      <th>رقم الطلب</th>
      <th>الوقت</th>
      <th>الحالة</th>
      <th>المجموع</th>
      <th>التفاصيل</th>
    </tr>
  </thead>
  <tbody>
    <tr id="trOfOrder17">
      <td>#17</td>
      <td>18-9-2024 10:45pm</td>
      <td class="new">جديد</td>
      <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
      <td class="d-flex items-center gap-5 justify-center">
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-runBorder  relative round-6 ViewOrderBtn"
          data-id="17"
        >
          <span class="fs-14 px-6 py-4 relative d-inline-block">عرض</span>
        </Button>
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-run relative round-6 DeleteOrderBtn"
          data-id="17"
          ariaEx={`false`}
          controll={`ModelMyOrder`}
        >
          <span class="fs-14 px-6 py-4 relative">حذف</span>
        </Button>
      </td>
    </tr>
    <tr id="trOfOrder18">
      <td>#18</td>
      <td>18-9-2024 10:45pm</td>
      <td class="out">منتهي</td>
      <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
      <td class="d-flex items-center gap-5 justify-center">
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-runBorder  relative round-6 ViewOrderBtn"
          data-id="18"
          ariaEx={`false`}
          controll={`ModelMyOrder`}
        >
          <span class="fs-14 px-6 py-4 relative d-inline-block">عرض</span>
        </Button>
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-run relative round-6 DeleteOrderBtn"
          data-id="18"
          
        >
          <span class="fs-14 px-6 py-4 relative">حذف</span>
        </Button>
      </td>
    </tr>
    <tr id="trOfOrder19">
      <td>#19</td>
      <td>18-9-2024 10:45pm</td>
      <td class="delivered">تم الشحن</td>
      <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
      <td class="d-flex items-center gap-5 justify-center">
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-runBorder  relative round-6 ViewOrderBtn"
          data-id="19"
          ariaEx={`false`}
          controll={`ModelMyOrder`}
        >
          <span class="fs-14 px-6 py-4 relative d-inline-block">عرض</span>
        </Button>
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-run relative round-6 DeleteOrderBtn"
          data-id="19"
          
        >
          <span class="fs-14 px-6 py-4 relative ">حذف</span>
        </Button>
      </td>
    </tr>
    <tr id="trOfOrder20">
      <td>#19</td>
      <td>18-9-2024 10:45pm</td>
      <td class="paid">تم الدفع</td>
      <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
      <td class="d-flex items-center gap-5 justify-center">
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-runBorder  relative round-6 ViewOrderBtn"
          data-id="20"
          ariaEx={`false`}
          controll={`ModelMyOrder`}
        >
          <span class="fs-14 px-6 py-4 relative d-inline-block">عرض</span>
        </Button>
        <Button
          type="button"
          aria={`viewMyorder`}
          ClassName="btn-run relative round-6 DeleteOrderBtn"
          data-id="20"
          
        >
          <span class="fs-14 px-6 py-4 relative">حذف</span>
        </Button>
      </td>
    </tr>
  </tbody>
</table>
<div class="Model d-none" id="ModelMyOrder">
  <Button
    ClassName="CloseOrderModel"
    type="button"
    aria={`closeOrderModel`}
    ariaEx={`false`}
    controll={`ModelMyOrder`}
    id="CloseOrderModel"
  >
    <Icon name={`close`} size={`36`} />
  </Button>
  <div class="orderModel">
    <table>
      <thead>
        <tr>
          <th>المنتج</th>
          <th></th>
          <th>الكمية</th>
          <th>الاجمالي</th>
        </tr>
      </thead>
      <tbody>
        <tr class="relative">
          <td>
            <a
              href="#!"
              aria-labe="productImg"
              class="ModelImg d-flex items-center gap-8"
            >
              <Image
                src={Img}
                alt={`modelImage`}
                quality={70}
                format="webp"
                class={`img-cover`}
              />
            </a>
          </td>
          <td> أومرون جهاز قياس ضغط الدم M3</td>
          <td>x1</td>
          <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
        </tr>
        <tr class="relative">
          <td>
            <a
              href="#!"
              aria-labe="productImg"
              class="ModelImg d-flex items-center gap-8"
            >
              <Image
                src={Img}
                alt={`modelImage`}
                quality={70}
                format="webp"
                class={`img-cover`}
              />
            </a>
          </td>
          <td> أومرون جهاز قياس ضغط الدم M3</td>
          <td>x3</td>
          <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
        </tr>
        <tr class="relative">
          <td>
            <a
              href="#!"
              aria-labe="productImg"
              class="ModelImg d-flex items-center gap-8"
            >
              <Image
                src={Img}
                alt={`modelImage`}
                quality={70}
                format="webp"
                class={`img-cover`}
              />
            </a>
          </td>
          <td> أومرون جهاز قياس ضغط الدم M3</td>
          <td>x1</td>
          <td class="price fs-18">400 <small class="fs-14">ر.س</small></td>
        </tr>
        <tr class="totalRow">
          <td colspan="2">الاجمالي</td>
          <td class="totalPrice fs-20" colspan="2"
            >71000 <small class="fs-14">ر.س</small></td
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
