---
import ImageGallery from "@components/ui/Private/ImageGallery.astro";
import ProDetail from "./ProDetail.astro";

---

<section class="section-1 productDetails-1">
  <div class="container">
    <div class="d-grid gap-8 gridSystem">
      <ImageGallery imgClass="productImgGallery" id="productImgGallery" />
      <ProDetail id="sizePro" />
    </div>

  </div>
</section>
