---
import ImageGallery from "@components/ui/Private/ImageGallery.astro";
import ProDetail from "./ProDetail.astro";

---

<section class="section-1 productDetails-1">
  <div class="container">
    <!-- left img gellaery -->
    <!-- right details -->
    <div class="d-grid gap-8">
      <ImageGallery />
      <ProDetail />
    </div>

  </div>
</section>
