---
import ProductSection from '@components/product/ProductSection.astro';
import FilterProduct from './FilterProduct.astro';
---
<section class="section-1 productFilter">
    <div class="container ">
        <div class="d-grid productFilter-1 items-start gap-3">
            <FilterProduct/>
            <ProductSection title="احدث منتجاتنا" sectionName="newProduct" Show={false} SectionClass={false} isLoader={true}  />
        </div>

    </div>
</section>