@use "./navTop";
@use "./navBottom";
@use "../../helpers/color" as *;
@use "../../helpers/animation" as *;

header {
    // background: linear-gradient(270deg, hsla(0, 0%, 100%, 1) 61%, hsla(120, 45%, 98%, 1) 100%);
    width: 100%;

   

}

;
@include nav-sticky(sticky)