// background-color
$black: #00060b;
$BG: #f0f0f0;
$BG2:#ebf1ff;
$BG3:rgb(236, 250, 236);
$w: #fff;
// hover
// $hover: #d0b426 ;
// $hover-1: #ebcb26;
$hover: #2E8B57 ;
$hover-1: #3CB371;

// color
$subtitle: #535353;
$dec: #495057;
$title: #222;
$border-color: #e1e1e1;
// shadows
$light-shadow:  #498fdf80;
// error and success
$error: rgb(169, 50, 50);
$success: rgb(50, 169, 50);
$error-text: rgb(243, 46, 46);
// TRANSLATION
$t-l: 500ms ease-in-out;
$t-s: 250ms ease-in-out;


// #e1e1e1
//#f5f5f5

//dark color
// $black: #060913;
//0c0f19
//h-b28040
//h1-be945a
//l-d1b586
html[data-theme="light"]{
    --MBG: #fff;
    --BG2:rgb(236, 250, 236);
    --Bg3:#f5f5f5;
    --Bg4:#002502;
    --w: #fff;
    --hover: #b28040 ;
    --hover-1: #be945a;
    --subtitle: #535353;
    --dec: #495057;
    --title: #222;
    --border-color: #e1e1e1;
    --light-shadow:  #498fdf80;
    --error: rgb(169, 50, 50);
    --success: rgb(50, 169, 50);
    --error-text: rgb(243, 46, 46);
}
html[data-theme="dark"]{
    --MBG: #1a1a1a;            /* Main Background (Dark) */
    --BG2: #2e3a2e;            /* Secondary Background (Dark greenish tone) */
    --Bg3: #333333;            /* Background Level 3 (Dark grey) */
    --Bg4: #121212;            /* Background Level 4 (Deep dark) */
    --w: #ffff;              /* White replacement with Gold */
    --hover: #b28040;          /* Hover (Gold shade) */
    --hover-1: #be945a;        /* Secondary Hover (Gold shade) */
    --subtitle: #cccccc;       /* Subtitle (Light grey) */
    --dec: #a0a0a0;            /* Decorative text (Soft grey) */
    --title: #f0f0f0;          /* Title (Gold) */
    --border-color: #e1e1e1;
    --light-shadow:  #498fdf80;
    --error: rgb(169, 50, 50);
    --success: rgb(50, 169, 50);
    --error-text: rgb(243, 46, 46);
}