@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;

.smallBreadcrumb{
    min-height: 5dvh;

    background-color: $BG;
    ul{
       
        li{
            
            opacity: .8;
            a{
                
                opacity: 1;
                svg{
                    width: 20px;
                    
                }
               
            }
            &:not(.separator){
                &:hover{
                    
                    a , svg{
                        color: $hover-1;
                    }
                }
            }
            
        }
    }
}