@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.boxSer-1{
    flex-direction: column;
    border: 1px solid $border-color;
    background-color: transparent;
    transition: $t-s;
    .iconSer-1{
        
        svg{
            width: 65px;
            color: $hover;
        }
    }
    .detailsSer-1{
        
        .title{
            color: $title;
        }
        .des{
            opacity: .9;
        }
    }
    a{
       width: 100%;
       height: 100%; 
    }
    .iconSer-1 svg , .detailsSer-1 .title{
        transition: $t-s;
    }
    .iconSer-1  , .detailsSer-1 ,a{
        z-index: 1;
    }
    &::before{
        @extend %pseudoElX;
        @include cricle(400px);
        background: radial-gradient(rgba($color:$hover-1 , $alpha: 1) , transparent , transparent);
        top: var(--y);
        left: var(--x);
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: top 0 , left 0;
    }
    &::after{
        @extend %pseudoElX;
        inset: 2px;
        border-radius: 4px;
        background-color: rgba($color: $w, $alpha: 1);
    }
    &:hover{
        box-shadow: 0 13px 1.25rem #6e6e6e33;
        border-color: $hover-1;
        &::before{
            opacity: 1;
        }
        .iconSer-1 svg , .detailsSer-1 .title{
                color: $hover-1;
        }
        
    }
}