@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.hero-1{

    height: calc(100vh - 131px);
    .heroSwiper{
        .swiper-slide{
            transition: $t-l;
            transform: scale(.7);
            .sliderBox{
                position: absolute;
                top: 50%;
                @extend %centerY;
                right: 150px;
                width: min(100% , 400px);
                h1{
                    color: $title;
                    transform: translateY(-60px) scale(.7);
                    opacity: 0;
                    transition: $t-l;
                    transition-delay: 100ms;
                    span{
                        color: $hover-1;
                        
                    }
                }
                p{

                    transform: translateX(80px) scale(.6);
                    transition-delay: 200ms;
                    
                }
                p , .btn-run{
                    transition: $t-l;
                    opacity: 0;
                }
                p , .btn-run a{
                    font-size: clamp(16px ,1vw + .6rem , 18px);
                }
                .btn-run{
                    transition-delay: 300ms;
                    transform: translateY(100px) scale(.5);
                    a{
                        padding-inline: clamp(24px ,1.9vw + 1rem , 40px);
                        padding-block: clamp(12px ,1vw + .5rem , 16px);
                        
                    }
                    svg{
                        width: 22px;
                    }
                }
                @media(max-width:991px){
                    @include centerPosition;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    right: auto;
                    p{
                        text-wrap: balance;
                        text-align: center;
                    }
                }
            }
        }
        .swiper-slide-active{
            transform: scale(1);
            .sliderBox{
                h1 ,  .btn-run{
                    
                    opacity: 1;
                }
                 p{
                    transform: translateX(0) scale(1);
                    opacity: .9;
                }
                h1 ,.btn-run{
                    transform: translateY(0) scale(1);
                }
                
            }


        }
        .swiper-button-next, .swiper-button-prev{
            background-color: $hover;
            transition: $t-s;
            @include cricle (50px);
            transform: scale(.4);
            opacity: 0;
            &::after{
                font-size: 28px;
                color: $w;
            }
            &:hover{
                background-color: $hover-1;
            }
        }
        &:hover{
            cursor: grab;
            .swiper-button-next, .swiper-button-prev{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}   