@use "./helpers/color" as *;
@use "./helpers/extend" as *;
@use "./helpers/mixin" as *;
@use "./helpers/animation" as *;
@use "./components/Header/header";
@use "./components/footer/footer";
@use "./components/ui/DropDown";
@use "./components/ui/mainHeading";
@use "./components/ui/AsideCart";
// @use "./components/ui/SuccessMessage";
@use "./components/ui/card";
// @use "./components/ui/ViewModel";
@use "./components/ui/smallBreadcrumb";

a,
svg {
    color: var(--subtitle);
    transition: $t-s;

}

hr {
    border-color: var(--border-color) ;
    opacity: .2;
}

.separator {
    color: var(--subtitle);
}

.count {

    background-color: $hover-1;
    @include cricle(20px);
    color: var(--w);

}

figure{
    margin-block: 0;
    margin-inline: 0;
}
h1 ,h3{
    color: var(--title);
}
// ///////////btn style/////////////


.btn-run {
    background-color: var(--hover);
    color: var(--w);

    span {
        display: inline-block;
    }

    a,
    span,
    svg {
        color: var(--w);
        transition: $t-s;
    }

}

.btn-runBorder {
    background-color: transparent;
    border: 1px solid var(--hover-1);
    color: var(--title);

    a,
    svg,
    span {
        color: var(--title);
        transition: $t-s;
        
    }

    &:hover {
        border-color: transparent;

        a,
        svg,
        span {
            color: var(--w);
        }
    }
}

.btn-runBorder,
.btn-run {
    transition: $t-s;
    
    &::before {
        @extend %pseudoElX;
        width: 0;
        height: 100%;
        background-color: var(--hover-1);
        border-radius: 6px;
        left: 0;
        top: 0;
    }

    &:hover {
        &::before {
            left: auto;
            right: 0;
            width: 100%;
        }
    }
}

.btnMore {

    svg {
        width: 48px;
        color: var(--hover);
    }
}
.whatsAppBtn{
    background-color: #3CB371;
    position: fixed;
    z-index: 9999;
    bottom: 90px;
    right: 30px;
    @include cricle(70px);
    transform: translateX(250px);
    opacity: 0;
    transition: $t-l;
    &.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    a{
        width: 100%;
        height: 100%;
        svg{
            color: $w;
            width: 85%;
            margin-inline: auto;
        }
    }
    &::after , &::before{
        @extend %pseudoElX;
        width: 100%;
        height: 100%;
        background-color: #3CB371;
        border-radius: 50%;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: .7;
        // transition: background-color $t-s;
        
    }
    &::before{
        
        animation: Pulse 2s ease-out infinite;
    }
    &::after{
        animation: Pulse 2s 1s  ease-out infinite;
    }
}
.delete{
    @extend %btn-delete;
}
html[lang='en']{
   
        .delete {
            border-radius: 0% 100% 0% 100% / 0% 0% 100% 100% ;
            
        }
    
}
//////////////overlay///////////
.overLay {
    cursor: url('https://demo-morata.myshopify.com/cdn/shop/t/3/assets/cursor-close.png?v=93210088594709752341700037392'), pointer;

    &.active {
        @include overlay(100%, 100%, rgba($color: #000000, $alpha: .3), inset, 0);

        &::before {
            z-index: 9999;
            position: fixed;
            backdrop-filter: blur(1px);
            height: 100%;
        }

    }

}

// 
.hideIcon {
    transform: translateY(-30px);
    opacity: 0;
    transition: $t-s;
}

.showIcon {
    transform: translateY(0);
    opacity: 1;
    transition: $t-s;
}

// //////////////quanity//////////////////
.Colum {
    border-color:  #d7d7d7;
    .QuanityButtons {
        flex-direction: column;
        :nth-child(1) {
            border-bottom:  1px solid #d7d7d7;
        }


        button {
            width: 40px;
            height: 20px;
            background-color: rgba($color: $BG2, $alpha: .8);
        }
    }

    input {
        width: 70px;
        height: 40px;
        outline: 0;
        border-right: 1px solid #d7d7d7;
        background-color: rgba($color: $BG2, $alpha: .8);
    }

    @media(max-width:480px) {
        .QuanityButtons {
            button {
                width: 30px;

            }
        }

        input {
            width: 50px;
            height: 40px;
        }
    }
}

.Row {
    gap: 15px;

    .btn-quanity {
        background-color: var(--hover);

        svg {
            width: 30px;

        }
    }

    input {
        width: 100px;
        height: 40px;
    }
}

// /////////////section///////////////////
.section-1 {
    margin-top: 6vh;
}

//   /////////avatar////////////////
.avatar {
    @include cricle(80px);

    img {
        border: 1px solid var(--hover-1);
    }
}

.Model {
    position: fixed;
    width: min(100%, 1000px);
    max-width: 90%;
    max-height: 80%;
    background-color: var(--w);
    border-radius: 16px;
    z-index: 99999;
    left: 50%;
    top: 50%;
    padding: 50px 30px;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: $t-l;
    overflow-y: auto;
    &.open {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &#quickyViewModel {
        
        padding: 0;
        .showModel {
            grid-template-columns: 1fr 1.1fr;
            padding: 25px 15px;
            gap: 25px;
            @media(max-width:991px) {
                grid-template-columns: auto;
            }

            
            @extend %ProDetail;
            .imageGallery{
                grid-template-rows: 350px 100px;

            }
            a{
                width: 100%;
                height: 100%;
            }
        }
    }
    .CloseOrderModel , .CloseViewModel{
        @extend %closeAside;
        z-index: 99999;
    }
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




@include Pulse(Pulse);
