---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import test from "@assets/images/blog/blog-img2.jpg";
---

<article class="round-8">
  <h3 class="fs-20 line-relaxed pb-2 fw-700">
    التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية
  </h3>
  <!-- time -->
  <div class="time d-flex items-center gap-2 p-2">
    <Icon name={`date`} size={`48`} />
    <p class="date fs-14">20 سبتمبر 2024</p>
  </div>
  <!-- img -->
  <figure class="round-6 py-10">
    <Image src={test} alt={`blog-img`} class={`round-6 img-cover`} />
  </figure>
  <p class="des line-relaxed fs-14">
    في عصرنا الحالي، بات العلاج الطبيعي وسيلة فعالة ليس فقط لتخفيف الألم وتحسين
    الحركة، بل أيضًا لتعزيز الشفاء العام والرفاهية النفسية والجسدية. ومع التقدم
    التكنولوجي الكبير، تم تطوير العديد من التقنيات المبتكرة التي تساهم في تحسين
    نتائج العلاج الطبيعي، مما يساعد المرضى على التعافي بشكل أسرع وأكثر فعالية.
  </p>
  <p class="des pt-6 line-relaxed fs-14">
    <strong>ما هو العلاج الطبيعي؟</strong>
  </p>
  <p class="des pt-4 line-relaxed fs-14">
    يعد العلاج الطبيعي علمًا طبيًا متخصصًا في تحسين قدرة الجسم على الحركة
    والتعافي من الإصابات أو الأمراض التي قد تؤثر على الأداء الحركي والوظيفي.
    يعتمد هذا النوع من العلاج على مزيج من التمارين العلاجية، والتقنيات اليدوية،
    واستخدام الأجهزة الطبية التي تهدف إلى تحسين الحركة، وزيادة القوة، وتخفيف
    الألم. يكمن الهدف الأساسي للعلاج الطبيعي في استعادة قدرة الجسم على التحرك
    بشكل طبيعي، وتحسين نوعية الحياة اليومية.
  </p>
  <p class="des pt-6  line-relaxed fs-14">
    <strong>التقنيات المتقدمة في العلاج الطبيعي   </strong>
  </p>
  <p class="des pt-4  line-relaxed fs-14">
    يعد العلاج الطبيعي علمًا طبيًا متخصصًا في تحسين قدرة الجسم على الحركة
    والتعافي من الإصابات أو الأمراض التي قد تؤثر على الأداء الحركي والوظيفي.
    يعتمد هذا النوع من العلاج على مزيج من التمارين العلاجية، والتقنيات اليدوية،
    واستخدام الأجهزة الطبية التي تهدف إلى تحسين الحركة، وزيادة القوة، وتخفيف
    الألم. يكمن الهدف الأساسي للعلاج الطبيعي في استعادة قدرة الجسم على التحرك
    بشكل طبيعي، وتحسين نوعية الحياة اليومية.
  </p>
  <p class="des pt-6 line-relaxed fs-14">
    <strong>ما هو العلاج الطبيعي؟</strong>
  </p>
  <p class="des pt-4 line-relaxed fs-14">
    يعد العلاج الطبيعي علمًا طبيًا متخصصًا في تحسين قدرة الجسم على الحركة
    والتعافي من الإصابات أو الأمراض التي قد تؤثر على الأداء الحركي والوظيفي.
    يعتمد هذا النوع من العلاج على مزيج من التمارين العلاجية، والتقنيات اليدوية،
    واستخدام الأجهزة الطبية التي تهدف إلى تحسين الحركة، وزيادة القوة، وتخفيف
    الألم. يكمن الهدف الأساسي للعلاج الطبيعي في استعادة قدرة الجسم على التحرك
    بشكل طبيعي، وتحسين نوعية الحياة اليومية.
  </p>
  <p class="des pt-6  line-relaxed fs-14">
    <strong>التقنيات المتقدمة في العلاج الطبيعي   </strong>
  </p>
  <p class="des pt-4  line-relaxed fs-14">
    يعد العلاج الطبيعي علمًا طبيًا متخصصًا في تحسين قدرة الجسم على الحركة
    والتعافي من الإصابات أو الأمراض التي قد تؤثر على الأداء الحركي والوظيفي.
    يعتمد هذا النوع من العلاج على مزيج من التمارين العلاجية، والتقنيات اليدوية،
    واستخدام الأجهزة الطبية التي تهدف إلى تحسين الحركة، وزيادة القوة، وتخفيف
    الألم. يكمن الهدف الأساسي للعلاج الطبيعي في استعادة قدرة الجسم على التحرك
    بشكل طبيعي، وتحسين نوعية الحياة اليومية.
  </p>
</article>
