---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import test from "@assets/images/blog/blog-img2.jpg";
---
<aside class="sideBlog">
    <div class="RelatedArticles">
        <p class="titleSide fs-18 fw-700">مقالات ذات صلة</p>
        <!--  -->
        <div class="RelatedCard d-flex items-center gap-5 mt-10 round-8 relative">
            
            <!-- img -->
            <figure class="  round-6">
                <Image
                  src={test}
                  alt={`blog-img`}
                  class={`round-6 img-cover`}
                />
            </figure>
             <div class="blogDetalis ">
                <!-- title -->
                <h3 class="fs-16 line-relaxed pb-2">
                  التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية
                </h3>
                <!-- time -->
                <div class="time d-flex items-center gap-2 p-2">
                  <Icon name={`date`} size={`48`} />
                  <p class="date fs-14">20 سبتمبر 2024</p>
                </div>
              </div>
              <a
              href="BlogDetails.html"
              title="التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية"
              aria-label="التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية"
              class="absolute top-0 left-0"></a>
              <!--  -->
        </div>
        <!--  -->
        <!--  -->
        <div class="RelatedCard d-flex items-center gap-5 mt-10 round-8 relative">
            
            <!-- img -->
            <figure class="  round-6">
                <Image
                  src={test}
                  alt={`blog-img`}
                  class={`round-6 img-cover`}
                />
            </figure>
             <div class="blogDetalis ">
                <!-- title -->
                <h3 class="fs-16 line-relaxed pb-2">
                  التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية
                </h3>
                <!-- time -->
                <div class="time d-flex items-center gap-2 p-2">
                  <Icon name={`date`} size={`48`} />
                  <p class="date fs-14">20 سبتمبر 2024</p>
                </div>
              </div>
              <!--  -->
              <a
              href="BlogDetails.html"
              title="التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية"
              aria-label="التقنيات الحديثة في العلاج الطبيعي أسرع طريق للشفاء والرفاهية"
              class="absolute top-0 left-0"></a>
        </div>
        <!--  -->
        
        
        <!--  -->
        </div> 
</aside>