@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.product{
    min-height: auto;
    // 
    .product-1{
      @extend %col-4;
       
    }
    &.newProduct{
        background-color: rgba($color: $BG2, $alpha: 1);
        padding-block: 60px;
    }
    &[aria-label="cateName2"]{
      background-color: var(--Bg3);
        padding-block: 50px;
    }
}
.productSlider{
  background-color: var(--Bg4);
  padding-top: 6vh;
  .swiper-slide{
    padding: 80px 0;
   
  }
  .d-grid{
    grid-template-columns: 250px 1fr;
    @media(max-width:767px){
      grid-template-columns:  1fr;
      .mainHeading2{
        padding-top: 30px;
      }
    }
  }
  .pro-1{
    background-color: var(--w);
  }
}