---
import payment from "@assets/images/Breaks&Ads/payment.png";
import { Image } from "astro:assets";
---
<div class="copyright d-flex items-center justify-center">
    <div class="paymentImg">
        <Image src={payment} alt={`payment`} quality={70} format="webp" />
    </div>
    <p class="fs-14 fw-500 pt-6">
        حقوق النشر © 2024 جميع الحقوق محفوظة <a href="#!">jadwal</a>
    </p>
</div>