@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.accountSide{
    .userInfo{
        background-color: var(--w);
        box-shadow:0 9px 1.25rem rgba(83,83,83,.1803921569);
        // border-radius: 20px;
        flex-flow: wrap row;
        h3{
            font-size: clamp(16px ,1vw + .6rem , 18px)
        }
       
        
    }
    .accountList{
        background-color: var(--w);
        flex-direction: column;
        // border-radius: 16px;
        border-color:  #ccc;
        
        li{
            width: 100%;
        }
        .navLink{
            border-color: var(--border-color);
            // border-radius: 12px;
            transition: $t-s;
            svg{
                width: 24px;
                color: var(--hover-1);
                transition: $t-s;
                &.logout{
                    color: $error-text;
                }
            }
            &:hover,&.active{
                background-color: var(--hover-1);
                border-color: transparent;
                color: var(--w);
                svg{
                    color: var(--w);
                }
                
            }
           
        }
        @media(max-width:991px){
            flex-flow: wrap row;
            flex-direction: row;
            li{
               width: auto;
               flex: 120px  1;
               a{
                font-size: 14px;
                text-wrap: nowrap;
                svg{
                    width: 16px;
                }
               }
            }
        }
    }
}