---
import FormGroup from "@components/ui/global/FormGroup.astro";
---

<div class="invoice">
  <p class="title fs-18 mb-6">المنتجات المطلوبة</p>
  <div class="AllProOrder px-6 py-8 round-6">
    <div class="d-flex items-center justify-between mb-5">
      <p class="">
        أومرون جهاز قياس ضغط الدم
        <small class="numPro pr-5 fs-16">×2</small>
      </p>
      <div class={`price    `}>
        <span class={`fw-700 fs-18 `}>18,500</span>
        <small class="fs-14">ر.س</small>
      </div>
    </div>
    <div class="d-flex items-center justify-between mb-5">
      <p class="">
        أومرون جهاز قياس ضغط الدم
        <small class="numPro pr-5 fs-16">×1</small>
      </p>
      <div class={`price    `}>
        <span class={`fw-700 fs-18 `}>18,500</span>
        <small class="fs-14">ر.س</small>
      </div>
    </div>
    <div class="d-flex items-center justify-between mt-8 total">
      <p class="total fw-700">الاجمالي:</p>
      <div class={`price 	  `}>
        <span class={`     fw-700 fs-20 `}>37,000</span>
        <small class="fs-14">ر.س</small>
      </div>
    </div>
  </div>
  <FormGroup
    type="text"
    isLabel={false}
    isDisabled={false}
    name="discount"
    IsButton={{ Title: "تفعيل الكوبون", ClassName: "btnDiscount  relative round-6" }}
    FormClassName="d-flex items-center gap-4 mt-8"
    place="ادخل كوبون الخصم اذا وجد"
    InputClassName="round-6"
  />
</div>
