---
import Logo from "@components/ui/Private/Logo.astro";
import ListLinksPage from "@components/ui/Private/ListLinksPage.astro";
import Button from "@components/ui/global/Button.astro";
import Link from "@components/ui/global/Link.astro";
import { Icon } from "astro-icon/components";
import FormGroup from "@components/ui/global/FormGroup.astro";
---

<nav class="navBottom py-4 d-flex items-center justify-between">
  <Button
    type="button"
    aria={`menu btn`}
    ClassName="icon-nav-base "
    ariaEx={`false`}
    controll={`responsiveNavLinks`}
    id="openMenu"
  >
    <span></span><span></span><span></span>
  </Button>
  <!-- logo -->
  <Logo />
  <!-- ul link -->
  <ListLinksPage />
  <!-- ul icon cart and search -->
  <div class="navButtons d-flex items-center gap-10">
    <Button
      type="button"
      aria={`login btn`}
      ClassName="btn-run relative round-6 py-5 px-8 lg-max-d-none"
    >
      <Link
        href="#!"
        aria="login link"
        Class="relative  fs-16 fw-500 "
        text=" تسجيل الدخول"
      />
    </Button>
    <Button
      type="button"
      aria={`cart btn`}
      ClassName=" relative cartBtn"
      ariaEx={`false`}
      controll={`CartShop`}
      id="openCart"
    >
      <Icon name={`cart2`} size={`36`} />
      <span
        class="count absolute top--1 fw-400 fs-12 round-cricle text-center right--2 d-flex items-center justify-center"
        >12</span
      >
    </Button>
    <!-- open -->
    <Button
      type="button"
      aria={`poen search btn`}
      ClassName="relative searchBtn showIcon"
      ariaEx={`false`}
      controll={`navSearchForm`}
      id="openNavSearch"
    >
      <Icon name={`search`} size={`36`} />
    </Button>
    <!-- close -->
    <Button
      type="button"
      aria={`close search btn`}
      ClassName="relative searchBtn hideIcon d-none"
      ariaEx={`false`}
      controll={`navSearchForm`}
      id="closeNavSearch"
    >
      <Icon name={`close`} size={`36`} />
    </Button>
  </div>
  <form action="!#" class="navSearchForm d-none absolute right-0" id="navSearchForm">
    <FormGroup
      type="text"
      isDisabled={false}
      FormClassName="relative"
      isLabel={false}
      IsButton={{
        aria: "search submit",
        ClassName: "btnSearchSubmit absolute round-4",
        BtnIcon: { name: "search" },
      }}
      place="ابحث عن منتجك"
    />
  </form>
</nav>
