---
interface Props {
  title: string;
  des: string;
}
const {title , des} = Astro.props
// base head meat
import BaseHead from "@components/BaseHead.astro";
//compontet
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import AsideCart from "@components/ui/Private/AsideCart.astro";
import Model from "@components/ui/Private/Model.astro";
import WhatsAppBtn from "@components/ui/Private/WhatsAppBtn.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={des} />
	</head>
	<body>
		<Header/>
		<main>
			<WhatsAppBtn/>
			<Model/>
			<AsideCart/>
			<slot />
			<div class="overLay" id="overlay"></div>
		</main>
		<Footer/>
		 <script src="../scripts/global.ts"></script>
	</body>
</html>

