---
import DropDownLang from "./DropDownLang.astro";
import SocialMedia from "@components/ui/Private/SocialMedia.astro";
---
<nav class="navTop py-5 d-flex items-center justify-between">
    <!-- drop down menu lang -->
    <DropDownLang/>
     <!-- p discount -->
    <p class="fs-14"> 
        خصم 50% علي اي منتج في خلال اسبوع
    </p>
    <!-- follow links facebook insta twitter snapchat ul-->
    <SocialMedia/>
</nav>