@use "../plugins/AE.css";
@use "./helpers/color" as *;
@use "./helpers/mixin" as *;


body {
    background-color: $w;
    color: $subtitle;
    font-size: 15px;
    
    
}


html[lang="en"]{
    direction: ltr;
   
}
html[lang="ar"]{
    direction: rtl;
    
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: $hover;
    border-radius: 8px;
    height: 180px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
