@use "../../helpers/color" as *;
@use "../../helpers/extend" as *;
@use "../../helpers/mixin" as *;
.EditAccount{
    border-color:  var(--border-color);
    background-color: #f8f8f8;
    border-radius: 14px;
    .editForm{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: auto 1fr 1fr auto ;
        @media(max-width:991px){
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .formGroup{
            flex-direction: column;
            input{
                @include input(50px, 100%, $border-color);
                background-color: var(--w);
                transition: $t-s;
                &:focus {
                    border-color: var(--hover-1);
                }
            }
           
        }
        .uploadImg {
            @extend %uploadImg;
            @media (min-width:992px){
                grid-column: 1 / 3;
            }
            
       

        }
        .btn-runBorder {
            @media (min-width:992px){
                grid-column: 1 / 3;
            }
        }
    }
}